@model OrderIndexViewModel

@{
    ViewBag.Title = "Northwind :: Orders";
}

@section Scripts {
    <script>
        $(function(){
            $('table#my-orders').DataTable({
                "serverSide": true,
                "ajax": {
                    "url":"~/Orders",
                    "contentType":"application/json",
                    "type": "POST",
                    "data": function(d) {
                        return JSON.stringify(d);
                    }
                }
            });
        })
    </script>
}

<h1>Orders</h1>

<table id="my-orders" class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Customer</th>
        <th>Order Date</th>
        <th>Shipped On</th>
        <th>Street</th>
        <th>Postal Code</th>
    </thead>
    <tbody>
        @foreach(var order in Model.Orders) {
            <tr>
                <td>@order.OrderNumber</td>
                <td><!-- CustomerName --></td>
                <td>@order.OrderDate</td>
                <td>@order.ShippedDate</td>
                <td>@order.ShippingAddress.Street1</td>
                <td>@order.ShippingAddress.PostalCode</td>
            </tr>
        }
    </tbody>
</table>